.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
/*

 */
/* HSL */
/* RGB */
/* line 24, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
body {
  color: #30343f;
  padding-top: 10em;
}

/* line 29, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
nav {
  background-color: #30343f;
  height: 13em;
}

/* line 34, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.title {
  color: #fafaff;
  font-size: 40px;
  margin-bottom: -5px;
}

/* line 40, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.user-info {
  float: right;
  text-align: right;
}

/* line 45, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.user-link {
  font-size: 16px;
}

/* line 50, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
li {
  list-style: none;
}

/* line 54, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-div {
  text-align: center;
}

/* line 58, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.clicked {
  width: 100%;
}

/* line 62, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.data:hover {
  color: #ff6978;
  background-color: #b1ede8;
  cursor: pointer;
}

/* line 68, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

/* line 72, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input {
  height: 50px;
  width: 180px;
}

/* line 77, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.link {
  font-size: 20px;
}

/* line 81, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.submit-button {
  width: 120px;
}

/* line 85, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-input {
  font-size: 20px;
}

/* line 89, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.btn {
  background-color: #4c2a85;
}

/* line 93, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.btn:hover {
  background-color: #b1ede8;
}

/* line 97, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 103, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.saved-data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 109, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.results {
  max-height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 115, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.heading-img {
  max-height: 50px;
}

/* line 119, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.clicked-image {
  width: 90%;
  border-radius: 10px;
}

/* line 125, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.message-container {
  height: 6em;
  padding-right: 8%;
}

/* line 130, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.container {
  width: 95%;
}

/* line 134, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
form {
  margin-left: auto;
  margin-right: auto;
}

/* line 139, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-container {
  margin-bottom: 6em;
  margin-top: 0;
}

/* line 144, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.jumbotron {
  background-color: #fafaff;
}

/* line 149, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.panel-info > .panel-heading {
  background-color: #b1ede8;
}

/* line 153, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.messages {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffecec no-repeat 10px 50%;
  border: 1px solid #f5aca6;
  width: 20em;
  float: right;
  box-shadow: 10px 10px 5px grey;
}
