.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
/*

 */
/* HSL */
/* RGB */
/* line 23, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
body {
  color: #30343f;
}

/* line 27, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
nav {
  background-color: #30343f;
  height: 15%;
}

/* line 32, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-div {
  text-align: center;
}

/* line 36, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.clicked {
  width: 100%;
}

/* line 40, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.data:hover {
  color: #ff6978;
}

/* line 44, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

/* line 48, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input {
  height: 33px;
}

/* line 52, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.btn {
  background-color: #4c2a85;
}

/* line 56, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.btn:hover {
  background-color: #b1ede8;
}

/* line 61, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.results {
  max-height: 20em;
  overflow: scroll;
}

/* line 66, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.heading-img {
  max-height: 50px;
}

/* line 70, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.clicked-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* line 77, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.message-container {
  height: 6em;
  padding-right: 8%;
}

/* line 82, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.container {
  width: 95%;
}

/* line 86, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
form {
  margin-left: 20%;
  margin-right: 20%;
}

/* line 91, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-container {
  margin-bottom: 6em;
  margin-top: 0;
}

/* line 96, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.jumbotron {
  background-color: #fafaff;
  padding-top: 14em;
}

/* line 101, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.panel-info > .panel-heading {
  background-color: #b1ede8;
}

/* line 105, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.messages {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffecec no-repeat 10px 50%;
  border: 1px solid #f5aca6;
  width: 20em;
  float: right;
  box-shadow: 10px 10px 5px grey;
}
