/* HSL */
/* RGB */
/* line 2, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
body {
  color: #30343f;
  padding-top: 7.5em;
}

/* line 7, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
nav {
  background-color: #30343f;
  height: 9.5em;
}

/* line 12, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.hint {
  margin-left: 10px;
}

/* line 16, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.sign-up {
  margin-left: 200px;
  margin-bottom: 15px;
}

/* line 20, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
#user_password_confirmation {
  margin-bottom: 15px;
  height: 40px;
}

/* line 25, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
#user_password {
  margin-left: 90px;
  height: 40px;
}

/* line 31, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
#user_email {
  margin-left: 119px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 37, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
#user_last_name {
  margin-left: 85px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 43, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
#user_first_name {
  margin-left: 84px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 49, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.user_button {
  margin-left: 167px;
  height: 40px;
}

/* line 55, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.log-in-user-button {
  margin-left: 157px;
  margin-top: 15px;
}

/* line 61, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.signup-password {
  margin-left: 144px;
}

/* line 66, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.log-in-user-password {
  height: 40px;
  margin-left: 35px;
  margin-bottom: 15px;
}

/* line 72, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
#log-in-user-email {
  margin-left: 105px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 79, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.edit-profile {
  width: 140px;
}

/* line 83, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.login {
  width: 45px;
}

/* line 87, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
input[type="date"]::before {
  color: #A9A9A9;
  content: attr(placeholder);
  font-size: 20px;
}

/* line 92, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
input[type="date"] {
  color: #ffffff;
}

/* line 95, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
input[type="date"]:focus,
input[type="date"]:valid {
  color: #A9A9A9;
  font-size: 20px;
}

/* line 100, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

/* line 105, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.title {
  color: #fafaff;
  font-size: 40px;
  margin-bottom: 0;
  font-family: 'Shrikhand', cursive;
}

/* line 112, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.user-info {
  float: right;
  text-align: right;
  font-family: 'Shrikhand', cursive;
}

/* line 118, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.user-link {
  font-size: 16px;
  font-family: 'Shrikhand', cursive;
}

/* line 123, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.saved-data > li {
  font-family: 'Noto Serif', serif;
}

/* line 127, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.click-data > li {
  font-family: 'Noto Serif', serif;
}

/* line 132, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
li {
  list-style: none;
}

/* line 136, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.form-div {
  text-align: center;
}

/* line 140, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.clicked {
  width: 100%;
}

/* line 144, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.data:hover {
  color: #ff6978;
  background-color: #b1ede8;
  cursor: pointer;
}

/* line 150, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

/* line 154, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
input {
  height: 50px;
  width: 180px;
}

/* line 159, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.search-history-div {
  text-align: center;
  margin-bottom: 10px;
}

/* line 164, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.link {
  font-size: 20px;
  font-family: 'Shrikhand', cursive;
}

/* line 169, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.submit-button {
  width: 120px;
}

/* line 173, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.form-input {
  font-size: 20px;
}

/* line 177, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.btn {
  background-color: #4c2a85;
}

/* line 181, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.btn:hover {
  background-color: #b1ede8;
}

/* line 185, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
h2 {
  font-family: 'Noto Serif', serif;
}

/* line 189, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 195, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
ul.data, li.saved-data {
  font-family: 'Noto Serif', serif;
}

/* line 199, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
h5.search-heading {
  font-size: 17px;
}

/* line 203, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.saved-data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 209, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.results {
  max-height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 215, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.heading-img {
  max-height: 50px;
}

/* line 219, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.clicked-image {
  width: 90%;
  border-radius: 10px;
}

/* line 225, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.message-container {
  height: 6em;
  padding-right: 8%;
}

/* line 230, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.container {
  width: 95%;
}

/* line 234, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
form {
  margin-left: auto;
  margin-right: auto;
}

/* line 239, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.form-container {
  margin-bottom: 6em;
  margin-top: 0;
}

/* line 244, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.jumbotron {
  background-color: #fafaff;
}

/* line 249, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.panel-info > .panel-heading {
  background-color: #b1ede8;
}

/* line 253, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.messages {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffecec no-repeat 10px 50%;
  border: 1px solid #f5aca6;
  width: 20em;
  float: right;
  box-shadow: 10px 10px 5px grey;
  margin-top: 20px;
}

/*
 *= require rails_bootstrap_forms
 */
