/* HSL */
/* RGB */
/* line 19, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
body {
  color: #30343f;
}

/* line 23, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
nav {
  background-color: #30343f;
}

/* line 27, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.data:hover {
  color: #ff6978;
}

/* line 31, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

/* line 35, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.jumbotron {
  margin-top: 5em;
}

/* line 39, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input {
  height: 33px;
}

/* line 43, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.btn {
  background-color: #4c2a85;
}

/* line 47, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.results {
  max-height: 20em;
  overflow: scroll;
}

/* line 52, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.heading-img {
  max-height: 50px;
}

/* line 56, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.clicked-image {
  width: 38em;
}

/* line 61, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.container {
  width: 95%;
}

/* line 65, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
form {
  margin-left: 20%;
  margin-right: 20%;
}

/* line 70, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-container {
  margin-bottom: 3em;
}

/* line 74, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.jumbotron {
  background-color: #fafaff;
}

/* line 78, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.panel-info > .panel-heading {
  background-color: #b1ede8;
}

/* line 82, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.messages {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffecec no-repeat 10px 50%;
  border: 1px solid #f5aca6;
  width: 20em;
  float: right;
}
