/* HSL */
/* RGB */
/* line 2, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
body {
  color: #30343f;
  padding-top: 10.5em;
}

/* line 7, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
p.intro {
  font-size: 18px;
}

@media only screen and (max-width: 690px) {
  /* only size 'xs' and below */
  /* line 13, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
  p.intro {
    font-size: 12px;
  }
}
/* line 18, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
a {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

/* line 23, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.btn {
  font-family: 'Noto Serif', serif;
}

/* line 27, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.title-link:link {
  text-decoration: none;
}

/* line 31, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.title-link:visited {
  text-decoration: none;
}

/* line 35, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.title-link:active {
  text-decoration: none;
}

/* line 39, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.text {
  font-family: 'Noto Serif', serif;
}

/* line 44, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.user-info {
  float: right;
  text-align: right;
}

/* line 49, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.user-link {
  font-size: 16px;
}

/* line 53, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.saved-data > li {
  font-family: 'Noto Serif', serif;
}

/* line 57, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.click-data > li {
  font-family: 'Noto Serif', serif;
}

/* line 62, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
li {
  list-style: none;
}

/* line 66, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.form-div {
  text-align: center;
}

/* line 70, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.clicked {
  width: 100%;
}

/* line 74, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.data:hover {
  color: #ff6978;
  background-color: #b1ede8;
  cursor: pointer;
}

/* line 80, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

/* line 84, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
input {
  height: 50px;
  width: 180px;
  font-family: 'Noto Serif', serif;
}

/* line 90, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.search-history-div {
  text-align: center;
  margin-bottom: 10px;
}

/* line 95, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.link {
  font-size: 20px;
}

/* line 99, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.btn {
  background-color: #4c2a85;
}

/* line 103, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.btn:hover {
  background-color: #b1ede8;
}

/* line 107, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
h2 {
  font-family: 'Noto Serif', serif;
}

/* line 111, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 117, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
ul.data, li.saved-data {
  font-family: 'Noto Serif', serif;
}

/* line 121, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
h5.search-heading {
  font-size: 17px;
}

/* line 125, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.saved-data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 131, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.results {
  max-height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 137, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.heading-img {
  max-height: 50px;
}

/* line 141, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.clicked-image {
  width: 90%;
  border-radius: 10px;
}

/* line 147, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.message-container {
  height: 6em;
  padding-right: 8%;
}

/* line 152, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.container {
  width: 95%;
}

/* line 157, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.form-container {
  margin-bottom: 6em;
  margin-top: 0;
}

/* line 162, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.jumbotron {
  background-color: #fafaff;
  padding-top: 6.5em;
}

/* line 167, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.panel-info > .panel-heading {
  background-color: #b1ede8;
}

/* line 171, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.messages {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffecec no-repeat 10px 50%;
  border: 1px solid #f5aca6;
  width: 20em;
  float: right;
  box-shadow: 10px 10px 5px grey;
  margin-top: 20px;
}

/* line 188, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/global.scss */
.main-img {
  width: 85%;
  filter: brightness(33%);
}

/* line 1, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.hint {
  margin-left: 10px;
}

/* line 5, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.forgot-password {
  margin-top: 60px;
}

/* line 9, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.edit-title {
  margin-top: 5em;
}

/* line 13, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.edit-password-conf {
  margin-left: 1px;
}

/* line 17, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.edit-current-password {
  margin-left: 26px;
}

/* line 21, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.edit-password {
  margin-bottom: 15px;
}

/* line 25, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
div.input.password.optional.user_password.field_with_hint {
  margin-bottom: 15px;
}

/* line 29, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.edit-email {
  margin-left: 104px;
}

/* line 33, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.edit-button {
  margin-left: 156px;
}

/* line 37, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.sign-up {
  margin-left: 0px;
  margin-bottom: 15px;
}

/* line 41, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
#user_password_confirmation {
  margin-bottom: 15px;
  height: 40px;
}

/* line 46, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
#user_current_password {
  margin-bottom: 15px;
  height: 40px;
}

/* line 51, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
#user_password {
  margin-left: 90px;
  height: 40px;
}

/* line 57, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
#user_email {
  margin-left: 119px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 63, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
#user_last_name {
  margin-left: 85px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 69, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
#user_first_name {
  margin-left: 84px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 75, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.user_button {
  margin-left: 167px;
  height: 40px;
}

/* line 81, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.log-in-user-button {
  margin-left: 157px;
  margin-top: 15px;
}

/* line 87, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.signup-password {
  margin-left: 144px;
}

/* line 92, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
.log-in-user-password {
  height: 40px;
  margin-left: 35px;
  margin-bottom: 15px;
}

/* line 98, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/devise.scss */
#log-in-user-email {
  margin-left: 105px;
  margin-bottom: 15px;
  height: 40px;
}

/* line 1, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
.footer {
  height: 6em;
  background-color: #30343f;
  text-align: center;
}

/* line 7, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
p.copyright {
  font-size: 18px;
  color: #fafaff;
  margin-top: 25px;
}

@media only screen and (max-width: 690px) {
  /* only size 'xs' and below */
  /* line 15, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
  .footer {
    height: 20px;
  }

  /* line 18, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
  p.copyright {
    margin-top: 15px;
    font-size: 12px;
  }

  /* line 23, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
  p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  /* only size 'xs' and below */
  /* line 30, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
  .footer {
    height: 20px;
  }

  /* line 33, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
  p.copyright {
    margin-top: 15px;
    font-size: 12px;
  }

  /* line 38, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/footer.scss */
  p {
    font-size: 12px;
  }
}
/* line 2, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/form.scss */
input[type="date"]::before {
  color: #A9A9A9;
  content: attr(placeholder);
  font-size: 20px;
}

/* line 7, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/form.scss */
input[type="date"] {
  color: #ffffff;
}

/* line 10, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/form.scss */
input[type="date"]:focus,
input[type="date"]:valid {
  color: #A9A9A9;
  font-size: 20px;
}

/* line 15, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/form.scss */
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

/* line 21, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/form.scss */
.submit-button {
  width: 120px;
}

/* line 25, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/form.scss */
.form-input {
  font-size: 20px;
}

/* line 30, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/form.scss */
form {
  margin-left: auto;
  margin-right: auto;
}

/* line 2, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
nav {
  background-color: #30343f;
  height: 9.5em;
}

/* line 7, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
.log-item {
  text-align: right;
  display: inline-block;
  font-family: 'Noto Serif', serif;
}

/* line 13, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
.reg-item {
  text-align: right;
  display: inline-block;
  font-family: 'Noto Serif', serif;
  margin-right: 10px;
}

/* line 20, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
.nav-links {
  text-align: right;
  margin-top: 20px;
}

/* line 25, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
.edit-profile {
  width: 140px;
}

/* line 29, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
.login {
  width: 45px;
}

/* line 33, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
.title {
  color: #fafaff;
  font-size: 40px;
  margin-bottom: 0;
  font-family: 'Shrikhand', cursive;
}

@media only screen and (max-width: 690px) {
  /* only size 'xs' and below */
  /* line 42, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  nav {
    height: 6em;
  }

  /* line 45, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  .navbar-fixed-top {
    text-align: left;
  }

  /* line 49, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  .title {
    font-size: 25px;
  }

  /* line 53, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  .nav-links {
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  /* only size 'xs' and below */
  /* line 62, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  nav {
    height: 6em;
  }

  /* line 65, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  .navbar-fixed-top {
    text-align: left;
  }

  /* line 69, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  .title {
    font-size: 25px;
  }

  /* line 73, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/navbar.scss */
  .nav-links {
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
  }
}
/*
 *= require rails_bootstrap_forms
 */
