.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
/*

 */
/* HSL */
/* RGB */
/* line 24, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
body {
  color: #30343f;
  padding-top: 7.5em;
}

/* line 29, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
nav {
  background-color: #30343f;
  height: 9.5em;
}

/* line 34, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.edit-profile {
  width: 109px;
}

/* line 38, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.login {
  width: 45px;
}

/* line 42, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input[type="date"]::before {
  color: #A9A9A9;
  content: attr(placeholder);
  font-size: 20px;
}

/* line 47, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input[type="date"] {
  color: #ffffff;
}

/* line 50, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input[type="date"]:focus,
input[type="date"]:valid {
  color: #A9A9A9;
  font-size: 20px;
}

/* line 55, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

/* line 60, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.title {
  color: #fafaff;
  font-size: 40px;
  margin-bottom: 0;
}

/* line 66, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.user-info {
  float: right;
  text-align: right;
}

/* line 71, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.user-link {
  font-size: 16px;
}

/* line 76, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
li {
  list-style: none;
}

/* line 80, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-div {
  text-align: center;
}

/* line 84, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.clicked {
  width: 100%;
}

/* line 88, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.data:hover {
  color: #ff6978;
  background-color: #b1ede8;
  cursor: pointer;
}

/* line 94, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

/* line 98, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
input {
  height: 50px;
  width: 180px;
}

/* line 103, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.link {
  font-size: 20px;
}

/* line 107, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.submit-button {
  width: 120px;
}

/* line 111, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-input {
  font-size: 20px;
}

/* line 115, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.btn {
  background-color: #4c2a85;
}

/* line 119, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.btn:hover {
  background-color: #b1ede8;
}

/* line 123, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 129, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.saved-data {
  border-width: 3px;
  border-bottom-style: ridge;
  border-color: #d3d3d3;
}

/* line 135, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.results {
  max-height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}

/* line 141, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.heading-img {
  max-height: 50px;
}

/* line 145, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.clicked-image {
  width: 90%;
  border-radius: 10px;
}

/* line 151, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.message-container {
  height: 6em;
  padding-right: 8%;
}

/* line 156, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.container {
  width: 95%;
}

/* line 160, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
form {
  margin-left: auto;
  margin-right: auto;
}

/* line 165, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.form-container {
  margin-bottom: 6em;
  margin-top: 0;
}

/* line 170, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.jumbotron {
  background-color: #fafaff;
}

/* line 175, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.panel-info > .panel-heading {
  background-color: #b1ede8;
}

/* line 179, /Users/Jscincotta/challenges/api-tickets/app/assets/stylesheets/application.scss */
.messages {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffecec no-repeat 10px 50%;
  border: 1px solid #f5aca6;
  width: 20em;
  float: right;
  box-shadow: 10px 10px 5px grey;
  margin-top: 20px;
}
