---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/recommendations?client_id=SEATGEEK_KEY&performers.id=141&postal_code=02466
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4c610f4f7122ab0d2fc05a41369f731f5b93a18c"'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"per_page":10,"total":111,"page":1,"took":6,"geolocation":{"city":"Auburndale","display_name":"Auburndale,
        MA","country":"US","lon":-71.2479,"range":"200mi","state":"MA","postal_code":"02466","lat":42.3444}},"recommendations":[{"score":0.0926966,"event":{"links":[],"id":3541173,"stats":{"listing_count":2156,"average_price":173.0,"lowest_price_good_deals":45.0,"lowest_price":45.0,"highest_price":1292.0},"title":"Shawn
        Mendes: Ariana Grande with iHeartRadio Jingle Ball and Jingle Ball and Diplo
        and Tove Lo","announce_date":"2016-09-30T00:00:00","score":0.77709,"date_tbd":false,"type":"concert","datetime_local":"2016-12-11T18:00:00","visible_until_utc":"2016-12-12T03:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"image":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/ellie-goulding-636881\/7773\/huge.jpg","images":{"huge":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/ellie-goulding-636881\/7773\/huge.jpg"},"has_upcoming_events":true,"id":7773,"genres":[{"id":452,"slug":"pop","name":"Pop","primary":true},{"id":456,"slug":"rock","name":"Rock","primary":false},{"id":457,"slug":"alternative","name":"Alternative","primary":false}],"stats":{"event_count":7},"image_license":null,"score":0.643989,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"type":"band","short_name":"Ellie
        Goulding","home_venue_id":null,"slug":"ellie-goulding","divisions":null,"name":"Ellie
        Goulding","url":"https:\/\/seatgeek.com\/ellie-goulding-tickets","image_attribution":null},{"image":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/diplo-c030f1\/7941\/huge.jpg","images":{"huge":"https:\/\/chairnerd.global.ssl.fastly.net\/images\/performers-landscape\/diplo-c030f1\/7941\/huge.jpg"},"has_upcoming_events":true,"id":7941,"genres":[{"id":493,"slug":"rap","name":"Rap","primary":true},{"id":477,"slug":"electronic","name":"Electronic","primary":false},{"id":491,"slug":"hip-hop","name":"Hip-Hop","primary":false}],"stats":{"event_count":13},"ima[...]
