// @import "*";

/*
 *= require rails_bootstrap_forms
 */


/* HSL */
$coral: hsla(354%, 100%, 71%, 1);
$stone: hsla(224%, 14%, 22%, 1);
$green: hsla(175%, 63%, 81%, 1);
$ghost: hsla(240%, 100%, 99%, 1);
$purple: hsla(262%, 52%, 34%, 1);

/* RGB */
$coral: rgba(255, 105, 120, 1);
$stone: rgba(48, 52, 63, 1);
$green: rgba(177, 237, 232, 1);
$ghost: rgba(250, 250, 255, 1);
$purple: rgba(76, 42, 133, 1);
$light-grey: #d3d3d3;

body {
  color: $stone;
  padding-top: 10em;
}

nav {
  background-color: $stone;
  height: 13em;
}

input[type="date"]::before {
	color: #A9A9A9;
	content: attr(placeholder);
  font-size: 20px;
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: #A9A9A9;
  font-size: 20px;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}

.title {
  color: $ghost;
  font-size: 40px;
}

.user-info {
  float: right;
  text-align: right;
}

.user-link {
  font-size: 16px;
}


li {
  list-style: none;
}

.form-div {
  text-align: center;
}

.clicked {
  width: 100%
}

.data:hover {
  color: $coral;
  background-color: $green;
  cursor:pointer;
}

.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

input {
 height: 50px;
 width: 180px;
}

.link {
  font-size: 20px;
}

.submit-button {
  width: 120px;
}

.form-input {
  font-size: 20px;
}

.btn {
  background-color: $purple;
}

.btn:hover {
  background-color: $green;
}

.data {
  border-width:3px;
  border-bottom-style:ridge;
  border-color: $light-grey;
}

.saved-data {
  border-width:3px;
  border-bottom-style:ridge;
  border-color: $light-grey;
}

.results {
 max-height: 20em;
 overflow: scroll;
 overflow-x: hidden;
}

.heading-img {
  max-height: 50px;
}

.clicked-image {
 width: 90%;
 border-radius: 10px;

}

.message-container {
  height: 6em;
  padding-right: 8%;
}

.container {
 width: 95%;
}

form {
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  margin-bottom: 6em;
  margin-top: 0;
}

.jumbotron {
  background-color: $ghost;

}

.panel-info > .panel-heading {
  background-color: $green;
}

.messages {
  color:#555;
  border-radius:10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px;
  font-weight:bold;
  text-transform:uppercase;
  background:#ffecec no-repeat 10px 50%;
  border:1px solid #f5aca6;
  width: 20em;
  float: right;
  box-shadow: 10px 10px 5px grey;
}
