.hint {
  margin-left: 10px;
}

.edit-title {
  margin-top: 5em;
}

.edit-password-conf {
  margin-left: 1px;
}

.edit-current-password {
  margin-left: 26px;
}

.edit-password {
  margin-bottom: 15px;
}

div.input.password.optional.user_password.field_with_hint {
  margin-bottom: 15px;
}

.edit-email {
  margin-left: 104px;
}

.edit-button {
  margin-left: 156px;
}

.sign-up {
  margin-left: 0px;
  margin-bottom: 15px;
}
#user_password_confirmation {
  margin-bottom: 15px;
  height: 40px;
}

#user_current_password {
  margin-bottom: 15px;
  height: 40px;
}

#user_password {
  margin-left: 90px;
  height: 40px;

}

#user_email {
  margin-left: 119px;
  margin-bottom: 15px;
  height: 40px;
}

#user_last_name {
  margin-left: 85px;
  margin-bottom: 15px;
  height: 40px;
}

#user_first_name {
  margin-left: 84px;
  margin-bottom: 15px;
  height: 40px;
}

.user_button {
  margin-left: 167px;
  height: 40px;

}

.log-in-user-button {
  margin-left: 157px;
  margin-top: 15px;

}

.signup-password {
  margin-left: 144px;
}


.log-in-user-password {
    height: 40px;
    margin-left: 35px;
    margin-bottom: 15px;
}

#log-in-user-email {
  margin-left: 105px;
  margin-bottom: 15px;
  height: 40px;
}
