
body {
  color: $stone;
  padding-top: 10.5em;
}

p.intro {
  font-size: 18px;
}

@media only screen and (max-width : 690px) {
  /* only size 'xs' and below */
  p.intro {
    font-size: 12px;
  }
}

a {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

.btn {
  font-family: 'Noto Serif', serif;
}

.title-link:link {
  text-decoration: none;
}

.title-link:visited {
  text-decoration: none;
}

.title-link:active {
  text-decoration: none;
}

.text {
  font-family: 'Noto Serif', serif;
}


.user-info {
  float: right;
  text-align: right;
}

.user-link {
  font-size: 16px;
}

.saved-data > li {
  font-family: 'Noto Serif', serif;
}

.click-data > li {
  font-family: 'Noto Serif', serif;
}


li {
  list-style: none;
}

.form-div {
  text-align: center;
}

.clicked {
  width: 100%
}

.data:hover {
  color: $coral;
  background-color: $green;
  cursor:pointer;
}

.col-lg-3 .col-md-3 .col-sm-6 .col-xs-12 {
  float: right;
}

input {
 height: 50px;
 width: 180px;
}

.search-history-div {
  text-align: center;
  margin-bottom: 10px;
}

.link {
  font-size: 20px;
}

.btn {
  background-color: $purple;
}

.btn:hover {
  background-color: $green;
}

h2 {
  font-family: 'Noto Serif', serif;
}

.data {
  border-width:3px;
  border-bottom-style:ridge;
  border-color: $light-grey;
}

ul.data, li.saved-data {
  font-family: 'Noto Serif', serif;
}

h5.search-heading {
  font-size: 17px;
}

.saved-data {
  border-width:3px;
  border-bottom-style:ridge;
  border-color: $light-grey;
}

.results {
 max-height: 20em;
 overflow: scroll;
 overflow-x: hidden;
}

.heading-img {
  max-height: 50px;
}

.clicked-image {
 width: 90%;
 border-radius: 10px;

}

.message-container {
  height: 6em;
  padding-right: 8%;
}

.container {
 width: 95%;
}


.form-container {
  margin-bottom: 6em;
  margin-top: 0;
}

.jumbotron {
  background-color: $ghost;
  padding-top: 6.5em;
}

.panel-info > .panel-heading {
  background-color: $green;
}

.messages {
  color:#555;
  border-radius:10px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px;
  font-weight:bold;
  text-transform:uppercase;
  background:#ffecec no-repeat 10px 50%;
  border:1px solid #f5aca6;
  width: 20em;
  float: right;
  box-shadow: 10px 10px 5px grey;
  margin-top: 20px;
}

.main-img {
  width: 85%;
  filter: brightness(33%);
}
