

/* HSL */
$coral: hsla(354%, 100%, 71%, 1);
$stone: hsla(224%, 14%, 22%, 1);
$green: hsla(175%, 63%, 81%, 1);
$ghost: hsla(240%, 100%, 99%, 1);
$purple: hsla(262%, 52%, 34%, 1);

/* RGB */
$coral: rgba(255, 105, 120, 1);
$stone: rgba(48, 52, 63, 1);
$green: rgba(177, 237, 232, 1);
$ghost: rgba(250, 250, 255, 1);
$purple: rgba(76, 42, 133, 1);
$light-grey: #d3d3d3;
