/* Coolors Exported Palette - coolors.co/c6c5b9-4c2a85-f18f01-048ba8-2e4057 */

/* HSL */
$grey: hsla(55%, 10%, 75%, 1);
$purple: hsla(262%, 52%, 34%, 1);
$orange: hsla(36%, 99%, 47%, 1);
$teal: hsla(191%, 95%, 34%, 1);
$navy: hsla(214%, 31%, 26%, 1);

/* RGB */
$grey: rgba(198, 197, 185, 1);
$purple: rgba(76, 42, 133, 1);
$orange: rgba(241, 143, 1, 1);
$teal: rgba(4, 139, 168, 1);
$navy: rgba(46, 64, 87, 1);
